html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

div {
  margin-top: 1rem;
}

ul {
  margin: 0 auto 1.5rem;
  padding: 0;
  display: flex;
  font-size: .9rem;
  list-style-type: none;
}

li {
  margin: 0 0 1.5rem;
  padding: .75rem;
  border-left: 1px solid #333;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #000;
}

h3 {
  margin: 0;
  font-weight: bold;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 100px;
  display: block;
}

.name {
  margin: 0;
  font-style: italic;
}

.anderon {
  background-color: #e2e2e2;
}

.dinosaurs {
  background-color: #ccc;
}

.dragon {
  background-color: #aaa;
}

.ships {
  background-color: #999;
}

.btn {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border: 3px solid #333;
  display: block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  border-radius: 8px;
  border: 3px solid #000;
  background-color: #000;
}

.text {
  margin-top: 0;
  margin-bottom: .5rem;
  flex-grow: 1;
  font-size: .95rem;
}
